@import '_colours.scss';

.hero-box {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    .box-image {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .box-content {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around !important;
        .content {
            max-width: 50%;
            h2 {
                margin-bottom: 16px;
            }
            p {
                opacity: .6;
            }
        }
    }
}

.height-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    .section-header {
        height: 80vh;
        width: 100%;
        display: flex;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .box-image {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media only screen and (max-width: 800px) {
             width: 90%;   
            }
            img {
                width: 70%;
            }
        } 
        .box-content {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .content {
                width: 80%;
                @media only screen and (max-width: 800px) {
                    text-align: center;
                }
            }
            @media only screen and (max-width: 800px) {
             width: 80%;   
             justify-content: center;
            }
            h2 {
                margin: 16px 0;
            }
            p {
                max-width: 550px;
            }
        }
    }

    .contact-grid {
        padding-bottom: 15vh;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        .contact-box {
            flex: 1 0 25vw;
            padding: 2%;
            display: flex;
            @media only screen and (max-width: 1440px){
                flex: 1 0 30vw;
            }

            @media only screen and (max-width: 750px){
                flex: 1 0 50vw;
                margin-top: 5vh;
            }

            .office-info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 5vh 0 0 -2vw;
                width: 100%;
                @media only screen and (max-width: 1440px){
                    margin: 10vh 0 0 -20vw;
                }
            }
        }
    }
}


.feature {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 800px) {
        height: 80vh;
    }
    .inside {
        width: 60%;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
            width: 90%;
        }
        .feature-info {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media only screen and (max-width: 800px) {
                width: 100%;
                text-align: center;
            }
            .content {
                width: 70%;
                @media only screen and (max-width: 800px) {
                    width: 80%;
                }
            }
        }
        .image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 800px) {
                width: 100%;
                text-align: center;
                padding-bottom: 20px ;
            }
            img {
                width: 90%;
                @media only screen and (max-width: 800px) {
                    width: 70%;
                }
            }
        }
    }
}

#white {
    display: flex;
}

#white div:first-child {
    order: 1;
}


#gray {
    background-color: $background-gray;
}

.bigger {
    height: 80vh;
}



@media only screen and (max-width: 800px) {
    #gray {
        display: flex;
        div:first-child {
            order: 1;
        }
    }
}


@media only screen and (max-width: 420px) {
    .hero-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .box-image {
            width: 100%;
            height: 30%;
            margin-bottom: 20px;
            img {
                width: 90%;
            }
        }
        .box-content {
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
            .content {
                max-width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}