h1, h2, h3, h4, h5, h6, p, a, caption {
    margin: 0;
    font-family: 'Lato';
}

h1 {
    font-size: 100pt;
    font-weight: 600;
}

h2 {
    font-size: 24pt;
    font-weight: 700;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 15pt;
}

p {
    font-size: 12pt;
    line-height: 20pt;
    font-weight: 400;
    opacity: .6;
}

a {
    font-size: 10pt;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

caption {
    font-size: 8pt;
}



@media only screen and (max-width: 400px) {
    h2 {
        font-size: 18pt;
    }   
}