<template>
    <div class="basic-page"> 
        <navigation/>
        <div class="height-box">
            <div class="section-header">
                <div class="box-image">
                    <img src="../assets/about-page.svg" alt="">
                </div>
                <div class="box-content">
                    <div class="content">
                        <h2>{{sectionHeadline}}</h2>
                        <p>{{sectionValue}}</p>
                    </div>
                </div>
            </div>
            <featureBox class="bigger" id="gray">
                <div slot="featureTitle">{{teamTitle}}</div>
                <div slot="featureDesc">{{teamDescription}}</div>
                <div slot="featureImage"><img src="../assets/team.svg" alt=""></div>
            </featureBox>
            <featureBox class="bigger" id="white">
                <div slot="featureTitle">{{connectTitle}}</div>
                <div slot="featureDesc">{{connectDescription}}</div>
                <div slot="featureImage"><img src="../assets/connections.svg" alt=""></div>
            </featureBox>
        </div>
        <footerBasic/>
    </div>
</template>


<script>

import navigation from '../components/navigation.vue'
import featureBox from '../components/featureBox.vue'
import footerBasic from '../components/footer.vue'

export default {
    name: 'aboutPage',
    components: {
        navigation,
        featureBox,
        footerBasic
    },
    data () {
        return {
            sectionHeadline: 'Without each other, we\'d be nothing\!',
            sectionValue: 'We are very happy to work with a network of professionals throughout the world. Together, we create a team that is reliable and has great results!',
            teamTitle: 'We are one!',
            teamDescription: 'Thanks to an incredible team of people, we are able to provide the best we have! The wide range of our members is able to cover every service we provide in the best quality.',
            connectTitle: 'Through the tech',
            connectDescription: 'Due to a wide range of our network, we had to figure out a way to communicate and connect ourselves and our clients. Good news - we did it!'
        }
    }
}
</script>


<style lang="scss" scoped>

@import "../styles/_layouts.scss";
    
</style>