<template>
    <div id="basic-page">
        <navigation/>
        <div class="height-box">
            <div class="section-header">
                <div class="box-image">
                    <img src="../assets/contact.svg" alt="">
                </div>
                <div class="box-content">
                    <div class="content">
                        <h2>{{contactHeadline}}</h2>
                        <p>{{contactValue}}</p>
                    </div>
                </div>
            </div>
            <div class="contact-grid">
                <contactBox>
                    <div slot="boxNumber">01</div>
                    <div slot="officeCity">Prague</div>
                    <div slot="officeAddress">Žitná 562, Nové město</div>
                    <div slot="officeZip">120 00, Prague 2</div>
                    <div slot="officeCountry">Czech Republic</div>
                </contactBox>
                <contactBox>
                    <div slot="boxNumber">02</div>
                    <div slot="officeCity">Hong Kong</div>
                    <div slot="officeAddress">31/F Chinachem Century Tower</div>
                    <div slot="officeZip">178 Gloucester Road</div>
                    <div slot="officeCountry">Wanchai, Hong Kong</div>
                </contactBox>
                <contactBox>
                    <div slot="boxNumber">03</div>
                    <div slot="officeCity">London</div>
                    <div slot="officeAddress">Nwms Center, Office 3.11, 3rd Floor</div>
                    <div slot="officeZip">31 Southampton Row</div>
                    <div slot="officeCountry">London WC1B 5HJ, UK</div>
                </contactBox>
                <contactBox>
                    <div slot="boxNumber">04</div>
                    <div slot="officeCity">Seychelles</div>
                    <div slot="officeAddress">Global Gateway 8</div>
                    <div slot="officeZip">Rue de la Perle, Providence,</div>
                    <div slot="officeCountry">Mahe, Seychelles</div>
                </contactBox>
                <contactBox>
                    <div slot="boxNumber">05</div>
                    <div slot="officeCity">Plantation</div>
                    <div slot="officeAddress">1200 South Pine Island Road</div>
                    <div slot="officeZip">Plantation</div>
                    <div slot="officeCountry">FL 33324, USA</div>
                </contactBox>
                <contactBox>
                    <div slot="boxNumber">06</div>
                    <div slot="officeCity">Dover</div>
                    <div slot="officeAddress">160 Greentree Drive</div>
                    <div slot="officeZip">City of Dover, County of Kent</div>
                    <div slot="officeCountry">DE 19904, USA</div>
                </contactBox>
            </div>
        </div>
        <footerBasic/>
    </div>
</template>


<script>

import navigation from '../components/navigation.vue'
import contactBox from '../components/contactBox.vue'
import footerBasic from '../components/footer.vue'

export default {
    name: 'contactPage',
    components: {
        navigation,
        contactBox,
        footerBasic
    },
    data () {
        return {
            contactHeadline: 'Would you like to get in touch?',
            contactValue: 'Check the locations below and see which one is the nearset to you!'
        }
    }
}
</script>


<style lang="scss" scoped>

@import "../styles/_layouts.scss";

    
</style>