<template>
  <div class="hero">
    <navigation/>
    <heroBoxLeft>
      <div slot="sectionTitle">{{heroTitle}}</div>
      <div slot="sectionDescription">{{heroDescription}}</div>
    </heroBoxLeft>
    <servicesBoxRight>
      <div slot="sectionTitle">{{servicesTitle}}</div>
      <div slot="sectionDescription">{{servicesDescription}}</div>
    </servicesBoxRight>
    <aboutBoxLeft>
      <div slot="sectionTitle">{{aboutTitle}}</div>
      <div slot="sectionDescription">{{aboutDescription}}</div>
    </aboutBoxLeft>
    <footerBasic/>
  </div>
</template>

<script>

import heroBoxLeft from '../components/heroBoxLeft.vue'
import aboutBoxLeft from '../components/aboutBoxLeft.vue'
import servicesBoxRight from '../components/servicesBoxRight.vue'
import textButton from '../components/textButton.vue'
import navigation from '../components/navigation.vue'
import footerBasic from '../components/footer.vue'
import burgerNav from '../components/burgerNav.vue'

export default {
  name: 'homePage',
  components: {
    heroBoxLeft,
    servicesBoxRight,
    textButton,
    aboutBoxLeft,
    navigation,
    footerBasic,
    burgerNav
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      heroTitle: 'Finish your project to the last dot',
      heroDescription: 'We understand the needs of our clients and provide services that make your lives easier and less stressfull',
      servicesTitle: 'The range is spectacular',
      servicesDescription: 'It is our privilage to present you with everything we are doing. Click below to get the full experience of what we can do for you!',
      aboutTitle: 'The team makes it possible',
      aboutDescription: 'Would you like to get to know us? We are a growing team with office all around the world!',
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

@import '../styles/_typography.scss';
@import '../styles/_colours.scss';
@import '../styles/_layouts.scss';
@import '../styles/_navigation.scss';

</style>
