<template>
    <div class="basic-page"> 
        <navigation/>
        <div class="height-box">
            <div class="section-header">
                <div class="box-image">
                    <img src="../assets/service-page.svg" alt="">
                </div>
                <div class="box-content">
                    <div class="content">
                        <h2>{{sectionHeadline}}</h2>
                        <p>{{sectionValue}}</p>
                    </div>
                </div>
            </div>
            <featureBox id="gray">
                <div slot="featureTitle">{{codeTitle}}</div>
                <div slot="featureDesc">{{codeDescription}}</div>
                <div slot="featureImage"><img src="../assets/code.svg" alt=""></div>
            </featureBox>
            <featureBox id="white">
                <div slot="featureTitle">{{domainTitle}}</div>
                <div slot="featureDesc">{{domainDescription}}</div>
                <div slot="featureImage"><img src="../assets/domain.svg" alt=""></div>
            </featureBox>
            <featureBox id="gray">
                <div slot="featureTitle">{{socialTitle}}</div>
                <div slot="featureDesc">{{socialDescription}}</div>
                <div slot="featureImage"><img src="../assets/social.svg" alt=""></div>
            </featureBox>
            <featureBox id="white">
                <div slot="featureTitle">{{moreTitle}}</div>
                <div slot="featureDesc">{{moreDescription}}</div>
                <div slot="featureImage"><img src="../assets/more.svg" alt=""></div>
            </featureBox>
        </div>
        <footerBasic/>
    </div>
</template>


<script>

import navigation from '../components/navigation.vue'
import featureBox from '../components/featureBox.vue'
import footerBasic from '../components/footer.vue'

export default {
    name: 'servicePage',
    components: {
        navigation,
        featureBox,
        footerBasic
    },
    data () {
        return {
            sectionHeadline: 'Wide range is our motto',
            sectionValue: 'Since the foundation of the company, we focued our efforts to provide a big range of services provided to you by professionals that we work with. The list of both is big and still growing!',
            codeTitle: 'Code Deployment',
            codeDescription: 'We help our clients not only with coding, but most importantly, we help to ease the process of deployment so that any person can do it.',
            domainTitle: 'Domain & Hosting Management',
            domainDescription: 'For us to deliver the perfect service, we pick the best providers. Our clients usually don’t have time to pick and manage either, so we do it for them!',
            socialTitle: 'Social Media',
            socialDescription: 'WIth the enourmous pressure there is from the world on social media, we decided to provide a service of their management as part of our deal!',
            moreTitle: 'And there is more',
            moreDescription: 'If you’d like to learn more about other services we provide, let us know!'
        }
    }
}
</script>


<style lang="scss" scoped>

@import "../styles/_layouts.scss";

@media only screen and (max-width: 320px) {


.height-box {
    .section-header {
        margin-top: 70px;
    }
    .box-content {
        padding-bottom: 70px; 
    }
}

}
    
</style>