<template>
    <div class="hero-box">
        <div class="box-image">
            <img src="../assets/about-us.svg" alt="">
        </div>
        <div class="box-content">
            <div class="content">
                <h2><slot name="sectionTitle"></slot></h2>
                <p><slot name="sectionDescription"></slot></p>
                <router-link to="/"><textButton><div slot="textButton">{{aboutButton}}</div></textButton></router-link>
            </div>
        </div>
    </div>
</template>


<script>

import textButton from './textButton.vue'

export default {
    name: 'aboutBoxLeft',
    components: {
        textButton,

    },
    data () {
        return {
            aboutButton: 'About Us'
        }
    },
}
</script>


<style lang="scss" scoped>

@import '../styles/_typography.scss';
@import '../styles/_colours.scss';
@import '../styles/_layouts.scss';


.hero-box {
    background-color: white;
    .box-image {
        display: flex;
        justify-content: flex-start;
        img {
            width: 100%;
            margin-left: 5vw;
        }
    }
}

@media only screen and (max-width: 450px) {
    .hero-box {
        .box-image {
            img {
                margin-left: 0;
            }
        }
    }
}



</style>