<template>
    <Slide right class="burger-nav" width="350">
        <div class="mobile-links">
                <ul>
                    <router-link to="/"><h2>Home</h2><div class="underline"></div></router-link>
                    <router-link to="/services"><h2>Services</h2><div class="underline"></div></router-link>
                    <router-link to="/about-us"><h2>About us</h2><div class="underline"></div></router-link>
                    <router-link to="/contact"><h2>Contact</h2><div class="underline"></div></router-link>
                </ul>
        </div>
    </Slide>
</template>

<script>

import { Slide } from 'vue-burger-menu'

export default {
    name: 'burgerNav',
    components: {
        Slide
    },
    data () {
        return {
            linkOne: 'portfolio',
            linkTwo: 'about',
            linkThree: 'resume',
            linkFour: 'contact'
        }
    }
}
</script>



<style lang="scss">

@import "../styles/_colours.scss";

.burger-nav {
  z-index: 2000;

 .bm-burger-button {
      width: 20px !important;
      height: 12px !important;
      right: 0px !important;
      top: 0px;
      position: relative;
      cursor: pointer;
    }
    
    .bm-burger-bars {
      background-color: black;
      transition: .2s ease-in-out;
    }
    .line-style {
      position: absolute;
      height: 18%;
      left: 0;
      right: 0;
    }
    .cross-style {
      position: absolute;
      top: 60px;
      left: 300px;
      cursor: pointer;
    }
    .bm-cross {
      background: black;
      height: 25px !important;
    }
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }
    .bm-menu {
      height: 100%;
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1002; /* Stay on top */
      top: 0;
      left: 0;
      background: linear-gradient(to  left, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,.9), rgba(255,255,255,0));
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
    }

    .bm-overlay {
      background: green;
      z-index: 1001;
    }

    .bm-item-list {
      margin-left: 10%;
      font-size: 20px;
      padding: 0;
    }

    .bm-item-list > * {
      display: flex;
      text-decoration: none;
    }

}

.mobile-links {
  display: flex; 
  justify-content: flex-end;
  width: 85%;
  text-align: right;
  padding: 0;
  margin-top: 15vh;
  ul {
    text-align: right;
    padding-left: 0;
    a {
      padding-top: 30px;
      display: flex;
      text-align: right;
      justify-content: flex-end;
    }
  }
}


@media only screen and (max-width: 1024px) {
    .burger-nav {
        display: block;
    }
}

</style>
