<template>
    <div class="contact-box">
        <div class="box-number">
            <h1><slot name="boxNumber"></slot></h1>
        </div>
        <div class="office-info">
            <div class="office-address">
                <h4><slot name="officeCity"></slot></h4>
                <p><slot name="officeAddress"></slot></p>
                <p><slot name="officeZip"></slot></p>
                <p><slot name="officeCountry"></slot></p>
            </div>
            <textButton>
                <div slot="textButton">Contact</div>
            </textButton>
        </div>
    </div>
</template>


<script>

import textButton from './textButton.vue'

export default {
    name: 'contactBox',
    components: {
        textButton
    }
}
</script>


<style lang="scss" scoped>

@import "../styles/_typography.scss";
@import "../styles/_layouts.scss";
@import "../styles/_colours.scss";

h1 {
    color: $background-gray;
}


</style>

