<template>
    <div class="feature">
        <div class="inside">
            <div class="feature-info">
                <div class="content">
                    <h4><slot name="featureTitle"></slot></h4>
                    <p><slot name="featureDesc"></slot></p>
                </div>
            </div>
            <div class="image">
                <slot name="featureImage"><img src="" alt=""></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'featureBox',
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import "../styles/_layouts.scss";

h4 {
    margin: 0 0 15px 0;
}

p {
    opacity: .4;
}
    
</style>