<template>
    <div class="footer">
        <div class="container">
            <div class="get-touch">
                <h2>{{footerText}} {{additionalText}} </h2>
                <a href="mailto:info@greensuninvestment.cz"><gradient-button><div slot="buttonText">Get in Touch</div></gradient-button></a>
            </div>
            <div class="copyright">
                <caption>®Copyright 2019, Created by Alexandr Borecky</caption>
            </div>
        </div>
    </div>
</template>


<script>

import gradientButton from './gradientButton.vue'

export default {
    name: 'footerBasic',
    components: {
        gradientButton
    },
    data () {
        return {
            footerText: 'Not enough?',
            additionalText: 'Get in touch!',
        }
    }
}
</script>


<style lang="scss" scoped>

@import '../styles/_colours.scss';
    
.footer {
    width: 100%;
    height: 40vh;
    background-color: $background-gray;
    display: flex;
    justify-content: center;
    .container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .get-touch {
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 70%;
            text-align: center;
            h2 {
                margin: 40px 0;
            }
        }
        .copyright {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 24px;
            opacity: .4;
        }
    }
}

</style>