<template>
    <div class="gradient-button gradient">
        <slot name="buttonText"></slot>
    </div>
</template>


<script>
export default {
    name: 'gradientButton',
    components: {

    },
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../styles/_colours.scss';

.gradient-button {
    width: auto;
    background: linear-gradient(to top right, $secondary-green, $primary-green);
    position: relative;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 10pt;
    color: white;
    border-radius: 100px;
    transition: .4s;
}


.gradient {
  position: relative;
  background-image: linear-gradient(
    to top right,
    $secondary-green
    $primary-green,
  );
  z-index: 1;
  transition: .5s;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    $primary-green,
    $secondary-green
  );
  border-radius: 100px;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.gradient:hover::before {
  opacity: 1;
  box-shadow: 0 24px 16px -16px rgba($primary-green, 1.0)
}

</style>