<template>
    <div class="hero-box">
        <div class="box-image">
            <img src="../assets/hero.svg" alt="">
        </div>
        <div class="box-content">
            <div class="content">
                <h2><slot name="sectionTitle"></slot></h2>
                <p><slot name="sectionDescription"></slot></p>
                <router-link to="/"><textButton><div slot="textButton">{{heroButton}}</div></textButton></router-link>
            </div>
        </div>
    </div>
</template>


<script>

import textButton from './textButton.vue'

export default {
    name: 'heroBoxLeft',
    components: {
        textButton,

    },
    data () {
        return {
            heroButton: 'Learn more'
        }
    },
}
</script>


<style lang="scss" scoped>

@import '../styles/_typography.scss';
@import '../styles/_colours.scss';
@import '../styles/_layouts.scss';



</style>