<template>
    <div class="navigation">
        <div class="container">
            <div class="logo">
                <img src="../assets/logo.png" alt="">
            </div>
            <div class="links">
                <ul>
                    <router-link to="/">Home<div class="underline"></div></router-link>
                    <router-link to="/services">Services<div class="underline"></div></router-link>
                    <router-link to="/about-us">About us<div class="underline"></div></router-link>
                    <router-link to="/contact">Contact<div class="underline"></div></router-link>
                </ul>
            </div>
            <burgerNav id="mobile"></burgerNav>
        </div>
    </div>
</template>


<script>

import burgerNav from './burgerNav.vue'

export default {
    name: 'navigation',
    components: {
        burgerNav
    },
    data () {
        return {

        }
    }
}
</script>

<style lang="scss" scoped>

@import '../styles/_colours.scss';

.navigation {
    z-index: 1000;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    #mobile {
        display: none;
    }
    .container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
           height: 100%;
           display: flex;
            align-items: center;
            img {
                height: 70px;
            }
        }
        .links {
            ul {
                display: flex;
                a {
                    margin-left: 60px;
                    opacity: .6;
                    transition: .4s;
                    .underline {
                        width: 0%;
                        height: 4px;
                        background: $primary-green;
                        transition: .4s;
                    }
                    &:hover {
                        opacity: 1;
                        .underline {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.router-link-exact-active {
    opacity: 1 !important;
    .underline {
        width: 100% !important;
    }
}


@media only screen and (max-width: 800px) {
    .navigation {
        height: 60px;
        .container {
            justify-content: space-between;
            align-items: center;
            .logo {
                img {
                    height: 40px;
                }
            }
            .links {
                display: none;
            }
        }
        #mobile {
            display: block;
        }
    }   
}
    
</style>