<template>
    <div class="hero-box">
        <div class="box-content">
            <div class="content">
                <h2><slot name="sectionTitle"></slot></h2>
                <p><slot name="sectionDescription"></slot></p>
                <router-link to="/"><textButton><div slot="textButton">{{serviceButton}}</div></textButton></router-link>
            </div>
        </div>
        <div class="box-image">
            <img src="../assets/services.svg" alt="">
        </div>
    </div>
</template>


<script>

import textButton from './textButton.vue'
import Slide from 'vue-burger-menu'

export default {
    name: 'servicesBoxRight',
    components: {
        textButton,
        Slide
    },
    data () {
        return {
            serviceButton: 'Our Services'
        }
    },
}
</script>


<style lang="scss" scoped>

@import '../styles/_typography.scss';
@import '../styles/_colours.scss';
@import '../styles/_layouts.scss';

.hero-box {
    background-color: $background-gray;
    .box-content {
        justify-content: flex-end;
    }
    .box-image {
        img {
            margin-right: 10vw;
        }
    }
}


@media only screen and (max-width: 400px) {
    .hero-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .box-content {
            justify-content: center;
            align-items: center;
            order: 1;
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        .box-image {
            img {
                margin-right: 0;
            }
        }
    }   
}

</style>