<template>
    <div class="text-button">
        <a><slot name="textButton"></slot> <div class="underline"></div> </a>
    </div>
</template>


<script>
export default {
    name: 'textButton',
    data () {
        return {

        }
    }
}
</script>


<style lang="scss" scoped>

@import '../styles/_colours.scss';

.text-button {
    a {
        position: absolute;
        .underline {
            width: 0%;
            height: 4px;
            background-color: $primary-green;
            margin-top: 4px;
            transition: .4s;
        }
        &:hover {
            .underline {
                width: 100%;
            }
        }
    }
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
}


@media only screen and (max-width: 420px) {
    .text-button {
        a {
            position: relative;
        }
    }
}
    
</style>