<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">

@import 'styles/_typography.scss';
@import 'styles/_colours.scss';

body {
  display: block;
  padding: 0;
  margin: 0 !important;
}

#app {
  margin: 0;
}

</style>
